.podcast {
   margin-bottom: 30px;
}
 .social {
   display: flex;
   margin-left: 0;
   margin-right: auto;
   margin-bottom: 30px;
}
 .social a {
   margin-left: 20px;
   margin-right: 20px;
   box-shadow: none;
   border-bottom: none;
}
